<article class="hentry">
    <header>
    <h3 class="entry-title"><a href="/{path}">{title}</a></h3>
    by <strong>Editor</strong> in <a href="/categories/*{categoryId}/{categoryLabel}">{categoryLabel}</a> at {created} / {updated}
    </header>
    <section class="entry-content">
        {content}
    </section>
    <footer>
        <a href="/tags">Tags</a>: {tagString} | <a href="/${article.path()}#comments">{commentCount} comments</a> | <a href="/edit?id={id}">edit</a> | <a href="/{path}" class="delete">delete</a>
    </footer>
</article>

