<?xml version="1.0"?>

<x:page title="{title}" xmlns:x="http://lib.unjou.org/Schemas/Style"
                         xmlns:xi="http://www.w3.org/2001/XInclude">

<x:breadcrumbs>
    / <a href="/categories/*{categoryId}/{categoryLabel}">{categoryLabel}</a> / {title}
</x:breadcrumbs>

<x:script>
$(document).bind("ready", function() {
    $(".delete").bind("click", function(e) {
        e.preventDefault();
        if (confirm("Are you sure you want to delete?")) {
            $.post(e.target.href, { _method: "DELETE" });
        }
    });
    
    $("#commentForm").bind("submit", function(e) {
        e.preventDefault();
        $.post(e.target.action, {
            parentId: $("#commentForm #parentId").val(),
            name: $("#commentForm #name").val(),
            email: $("#commentForm #email").val(),
            uri: $("#commentForm #uri").val(),
            content: $("#commentForm #content").val(),
        }, function(data) {
            $("#commentList").append(data);
            e.target.reset();
        });
    });
});
</x:script>

<section class="main hfeed">

<xi:include href="article.inc.html" />

<h3 id="comments">{commentsCount} Comments</h3>

<section id="commentList" class="comments">
{.with comments}
    <xi:include href="comments/comment.inc.html" />
{.end}
<x:clear />
</section>

<xi:include href="comments/form.inc.html" />

</section>

<xi:include href="aside.inc.html" />

</x:page>

