body {
    padding: 1em;
}

h1 {
    margin-top: 0;
    margin-bottom: .1em;
}

h2 {
    color: #666;
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 2em;
    padding-left: 2em;
}

img {
    border: none;
}

header nav {
    display: block;
    margin-bottom: 2em;
}

footer {
    clear: both;
    display: block;
    padding-top: 4em;
}

footer p {
    border-top: 1px solid #ccc;
    margin-bottom: 3em;
    padding-top: 1em;
}

article {
    display: block;
    margin-bottom: 3em;
}

article header {
    display: block;
    margin-bottom: 2em;
}

article header h3 {
    margin-top: 0;
    margin-bottom: .2em;
}

article footer {
    clear: none;
    display: block;
    margin-top: 1em;
    padding: 0;
}

aside {
    border-left: 1px solid ${gray};
    float: left;
    margin-left: -322px;
    padding-left: 20px;
    width: 300px;
}

aside h2 {
    margin-bottom: 1em;
    padding: 0;    
}

aside ul {  
    padding: 0;  
    list-style: none;
}

section.main {
    float: left;
    margin-right: 362px;
    overflow: hidden;
}

fieldset {  
    margin: 1em 0 0 0;  
    padding: 0;
}

legend {  
    color: #000;  
    font-weight: bold;
    margin-left: 1em;  
}

fieldset ol {  
    padding: 1em 1em 0 1em;  
    list-style: none;
}

fieldset li {  
    padding-bottom: 1em;
}

fieldset.submit {  
    border-style: none;
}

label {
    display: block;
}

textarea.content {
    width: 90%;
    height: 8em;
}

section.comments {
    display: block;
    margin-bottom: 3em;
}

article.comment {
    border-top: 1px solid ${gray};
    clear: both;
    margin-bottom: 1em;
    padding-top: 1em;
}

article.comment h3 {
    font-size: 1em;
    margin: 0 0 1em 0;
}

article.comment img.avatar {
    float: right;
}

.clear {
    clear: both;
}

.pager {
    clear: both;
    background: ${gray};
    font-weight: bold;
    margin-top: 3em;
    padding: 1em;
}

.pager .prev {
    float :right;
}

.pager .next {
    float :left;
}

.tags a {
    color: green;
}

.tags a:hover {
    background: green;
    color: #fff;
}

.tagcloud {
    background: ${gray};
    padding: 2em;
}

.error-dialog {
    border: 1px solid ${gray};
    margin: auto;
    margin-top: 5em;
    padding: 2em;
    width: 500px;
}
