<html>
    <head>
        <title>Example</title>
    </head>
    <body>
        <p>
            Hello <strong>${name}</strong>, the time now is ${time}!
        </p>
        <p>
            <img src="nitro.png" />
        </p>
        <p>
            <a href="redir">click</a> to redirect!
        </p>
        <p>
            <a href="index.atom">click</a> for an atom version of the page!
        </p>
        <p>
            <form action="/create?lala=yeah" method="POST">
                <p>
                    <label for="msg">Message: </label>
                    <input type="text" name="msg" />
                </p>
                <p>
                    <input type="submit" value="Send" />
                </p>
            </form>
        </p>
    </body>
</html> 
